.tooltipT, .tooltipTML, .tooltipTL, .tooltipTMR, .tooltipTR, .tooltipL,
.tooltipML, .tooltipR, .tooltipMR, .tooltipB, .tooltipBML, .tooltipBL, .tooltipBBL, .tooltipBMR, 
.tooltipBR, .tooltipBBR {
  position: absolute;
}
.tooltipT span, .tooltipTML span, .tooltipTL span, .tooltipTMR span, 
.tooltipTR span, .tooltipL span, .tooltipML span, .tooltipR span, 
.tooltipMR span, .tooltipB span, .tooltipBML span, .tooltipBL span, .tooltipBBL span, 
.tooltipBMR span, .tooltipBR span, .tooltipBBR span {
  position: absolute;
  width: 0px;
  color: #FFFFFF;
  background: #000000;
  height: auto;
  line-height: 1.2em;
  text-align: left;
  visibility: hidden;
  border-radius: 6px;
}
.tooltipT:hover span, .tooltipTML:hover span, .tooltipTL:hover span, .tooltipTMR:hover span, 
.tooltipTR:hover span, .tooltipL:hover span, .tooltipML:hover span, .tooltipR:hover span, 
.tooltipMR:hover span, .tooltipB:hover span, .tooltipBML:hover span, .tooltipBL:hover span, 
.tooltipBBL:hover span, .tooltipBMR:hover span, .tooltipBR:hover span, .tooltipBBR:hover span {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  z-index: 10;
  width: 400px;
  }
.tooltipT:hover span {
  bottom: 16px;
  left: -200px;
}
.tooltipTML:hover span {
  bottom: 16px;
  left: -300px;
}
.tooltipTL:hover span {
  bottom: 16px;
  right: -50%;
}
.tooltipTMR:hover span {
  bottom: 16px;
  left: -100px;
}
.tooltipTR:hover span {
  bottom: 16px;
  left: -50%;
}
.tooltipL:hover span {
  right: 100%;
  top: -180px;
}
.tooltipML:hover span {
  right: 100%;
  top: -90px;
}
.tooltipR:hover span {
  left: 100%;
  top: -180px;
}
.tooltipMR:hover span {
  left: 100%;
  top: -90px;
}
.tooltipB:hover span {
  top: 16px;
  left: -200px;
}
.tooltipBML:hover span {
  top: 16px;
  left: -300px;
}
.tooltipBL:hover span {
  right: 100%;
  top: -8px;
}
.tooltipBBL:hover span {
  top: 16px;
  left: -350px;
}
.tooltipBBR:hover span {
  top: 16px;
  left: -30px;
}
.tooltipBMR:hover span {
  top: 16px;
  left: -100px;
}
.tooltipBR:hover span {
  left: 100%;
  top: -8px;
}